#############
#
#############
src/ngx/version.h
src/ngx/casper/broker/module/config.h
src/ngx/casper/broker/module/config
src/ngx/casper/broker/api/module/version.h
src/ngx/casper/broker/api/module/config
src/ngx/casper/broker/jobify/module/version.h
src/ngx/casper/broker/jobify/module/config
src/ngx/casper/broker/auth/module/version.h
src/ngx/casper/broker/auth/module/config
src/ngx/casper/broker/cdn/module/config
src/ngx/casper/broker/cdn/module/version.h
src/ngx/casper/broker/cdn-download/module/config
src/ngx/casper/broker/cdn-download/module/version.h
src/ngx/casper/broker/cdn-api/module/config
src/ngx/casper/broker/cdn-api/module/version.h
src/ngx/casper/broker/cdn-archive/module/config
src/ngx/casper/broker/cdn-archive/module/version.h
src/ngx/casper/broker/cdn-replicator/module/config
src/ngx/casper/broker/cdn-replicator/module/version.h
src/ngx/casper/broker/jwt/encoder/module/config
src/ngx/casper/broker/jwt/encoder/module/version.h
src/ngx/casper/broker/module/version.h
src/ngx/casper/broker/oauth/server/module/config
src/ngx/casper/broker/oauth/server/module/version.h
src/ngx/casper/broker/ul/module/config
src/ngx/casper/broker/ul/module/version.h

###############
# GLOBAL BUILD
###############
out
*.o

###############
# GLOBAL XCODE
###############
*xcuserdata*
*.xcworkspacedata
nrs-party/build
third-party/build

###############
# NGINX SRC
###############
src/nginx
*.gz

#################
# RAGEL & BISON
#################

src/ngx/casper/broker/cdn-common/ast/location.hh
src/ngx/casper/broker/cdn-common/ast/parser.cc
src/ngx/casper/broker/cdn-common/ast/parser.hh
src/ngx/casper/broker/cdn-common/ast/parser.output
src/ngx/casper/broker/cdn-common/ast/position.hh
src/ngx/casper/broker/cdn-common/ast/stack.hh
src/ngx/casper/broker/cdn-common/ast/evaluator.cc
src/ngx/casper/broker/cdn-common/ast/scanner.cc

src/ngx/casper/broker/cdn-api/router.cc

############
# nb-xattr
############
src/xattr/version.h