//
//  nginx-broker-common.xcconfig
//  nginx-broker
//
//  Copyright (c) 2010-2017 Cloudware S.A. All rights reserved.
//

NRS_OUT_DIR = $(SRCROOT)/out/darwin/$(XCODE_VERSION_ACTUAL)
NRS_INTERMEDIATES_DIR = $(NRS_OUT_DIR)/Intermediates
NRS_PRODUCTS_DIR = $(NRS_OUT_DIR)/Products/$(CONFIGURATION)

//
BUILD_DIR =  $(NRS_OUT_DIR)/Products
BUILD_ROOT = $(NRS_OUT_DIR)/Products

OBJECT_FILE_DIR =$(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/Objects
//OBJECT_FILE_DIR_normal = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/Objects-normal

CODESIGNING_FOLDER_PATH = $(NRS_PRODUCTS_DIR)/$(PRODUCT_NAME)
DWARF_DSYM_FOLDER_PATH = $(NRS_PRODUCTS_DIR)

DERIVED_FILES_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME)/DerivedSources
DERIVED_FILE_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/DerivedSources

CLASS_FILE_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/$(PRODUCT_NAME).build/JavaClasses
COMPOSITE_SDK_DIRS = $(NRS_INTERMEDIATES_DIR)/CompositeSDKs

PROJECT_TEMP_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build
PROJECT_TEMP_ROOT = $(NRS_INTERMEDIATES_DIR)
PROJECT_DERIVED_FILE_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/DerivedSources

PRECOMP_DESTINATION_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/PrefixHeaders
REZ_COLLECTOR_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/ResourceManagerResources
REZ_OBJECTS_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/ResourceManagerResources/Objects

TARGET_BUILD_DIR = $(NRS_PRODUCTS_DIR)
TARGET_TEMP_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build
TEMP_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build
TEMP_FILES_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build
TEMP_FILE_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build
TEMP_ROOT = $(NRS_INTERMEDIATES_DIR)

//LD_DEPENDENCY_INFO_FILE = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAME).build/$(CONFIGURATION)/$(PRODUCT_NAME).build/Objects-normal/$(CURRENT_ARCH)/$(PRODUCT_NAME)_dependency_info.dat


//// [B] NW :
//
//CONFIGURATION_BUILD_DIR = $(NRS_PRODUCTS_DIR)
//CONFIGURATION_TEMP_DIR = $(NRS_INTERMEDIATES_DIR)/$(PRODUCT_NAMEPRODUCT_NAME).build/$(CONFIGURATION)
//SHARED_PRECOMPS_DIR = $(NRS_INTERMEDIATES_DIR)/PrecompiledHeaders
//SYMROOT = $(NRS_OUT_DIR)/Products/
//OBJROOT = $(NRS_INTERMEDIATES_DIR)
//BUILT_PRODUCTS_DIR = $(NRS_PRODUCTS_DIR)
//MODULE_CACHE_DIR = $(NRS_OUT_DIR)/DerivedData/ModuleCache
//
//// [E] NW

